@font-face {
  font-family: Inter-Regular;
  src: url(./assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-Bold;
  src: url(./assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
  font-family: Inter-ExtraBold;
  src: url(./assets/fonts/static/Inter-ExtraBold.ttf);
}

body {
  margin: 0 auto;
  max-width: 960px;
  font-family: Inter-Regular;
  font-size: 15px;
  display: grid;
  gap: 2rem;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-top: 3rem;
}

.close-btn {
  display: none;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

nav ul li {
  list-style: none;
  color: hsl(236, 13%, 42%);
}

nav ul li:hover {
  cursor: pointer;
  color: hsl(35, 77%, 62%);
}

.menu-img {
  display: none;
}

.hl-img {
  width: 38.5rem;
  height: 16rem;
}

.hl-section h1 {
  font-family: Inter-ExtraBold;
  font-size: 2.5rem;
}

.hl-article {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4rem;
  align-items: center;
}

.hl-details {
  display: grid;
  grid-template-rows: 2fr auto;
}

.hl-details p {
  margin-top: 2rem;
  color: hsl(236, 13%, 42%);
  line-height: 1.5;
}

.hl-details button {
  margin-top: 2rem;
  font-family: Inter-Bold;
  border: none;
  outline: none;
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  text-transform: uppercase;
  text-align: center;
  padding: 14px 25px;
  font-size: 16px;
  letter-spacing: 0.3rem;
  width: 13rem;
  cursor: pointer;
}

.hl-details button:hover {
  opacity: 0.5;
}

.hl-details button:active {
  opacity: 1;
  background-color: hsl(240, 100%, 5%);
}

.news-section {
  background: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
  padding: 0 1rem;
}

.news-section h3 {
  font-size: 2rem;
  font-family: Inter-ExtraBold;
  color: hsl(35, 77%, 62%);
}

.news-section h4 {
  font-family: Inter-Bold;
}

.news-section p {
  border-bottom: 0.5px solid #ccc;
  padding-bottom: 1rem;
  color: hsl(233, 8%, 79%);
  line-height: 1.2;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.category {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-bottom: 3rem;
  gap: 1rem;
}

.category div {
  display: grid;
  gap: 1rem;
  max-width: 11rem;
}

.category img {
  width: 5.75rem;
  height: 7.75rem;
}

.category h4 {
  font-size: 2rem;
  color: hsl(233, 8%, 79%);
}

.category h5 {
  font-size: 0.8rem;
  font-family: Inter-ExtraBold;
}

.category p {
  color: hsl(236, 13%, 42%);
  font-size: 12px;
}

.category h4,
h5,
p {
  margin: 0;
  line-height: 1rem;
}

@media (max-width: 960px) {
  body {
    overflow-x: hidden;
    gap: 0;
  }

  nav {
    display: none;
  }

  .menu-img {
    display: grid;
    cursor: pointer;
  }

  .hl-img {
    width: 22.8rem;
    height: 10rem;
    object-fit: contain;
  }

  main,
  .hl-article,
  .categories {
    display: grid;
    grid-template-columns: 1fr;
  }

  .hl-article,
  .news-section {
    max-width: 21rem;
  }

  .hl-article {
    gap: 0;
  }

  header,
  .hl-section,
  .news-section {
    margin: 1rem 2rem;
  }

  .hl-article h1,
  .hl-article p {
    margin: 0;
  }

  .categories {
    margin: 2rem;
  }

  .break {
    display: none;
  }

  nav ul li {
    display: none;
  }
}
